:root {
  --h100: 100px;
  --h150: 150px;
  --h200: 200px;
  --varh: 200px;
  --trans: 0.4s all ease-in-out;
  --shad: 0 0 1px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 40px #03e9f4;

  --shad0: 0 0 1px #039cf483, 0 0 2px #039cf483, 0 0 40px #039cf483,
    0 0 20px #039cf483;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sec {
  height: 200px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--trans);
}

.artface {
  border-radius: 100px;
  height: var(--varh);
  width: var(--varh);
  position: relative;
  top: -100px;
  text-align: right;
  transition: var(--trans);
}

.smile_1 {
  position: absolute;
  top: 0;
  right: 0;
}
img {
  border-radius: 50%;
  border: 5px dashed rgb(255, 255, 255);
  height: var(--varh);
  width: var(--varh);
  opacity: 1;
  box-shadow: var(--shad0);
  transition: var(--trans);
}

.tback {
  height: var(--varh);
  width: var(--varh);
  background-color: rgba(0, 255, 200, 0.445);
  border-radius: calc(var(--varh) / 2);
  position: relative;
  top: 100px;
  opacity: 0;
  transition: var(--trans);
}

.h {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  opacity: 0;
  margin: 10px;
  text-shadow: var(--shad0);
  transition: var(--trans);
}

.hadith {
  font-size: 3em;
  width: 600px;
  top: 15px;
  right: 200px;
  transition: var(--trans);
}

.proph {
  color: brown;
  font-size: 1.5em;
  margin-top: 30px;
  margin-left: 250px;
  transition: var(--trans);
}

.salla {
  text-shadow: none;
  box-shadow: none;
  opacity: 0;
  width: 50px;
  height: 50px;
  position: relative;
  top: -50px;
  right: 350px;
  transform: rotate(270deg);
  transition: var(--trans);
}
.sec:hover .salla {
  border-radius: 0px;
  transition-delay: 0.5s;
  opacity: 1;
}

.sec:hover .h {
  transition-delay: 0.5s;
  opacity: 1;
}

.sec:hover .smile_1 {
  opacity: 0;
}
.sec:hover img {
  transform: rotate(360deg);
  border: none;
}
.sec:hover .tback {
  transition-delay: 0.3s;
  border: 3px dashed rgb(66, 66, 66);
  box-shadow: var(--shad);
  width: 900px;
  border-radius: 100px;
  opacity: 1;
}

.backcover {
  height: calc(100vh - 30px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: auto;
  background-image: url(../PIC/icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d0ebfa00;
  background-color: #d0ebfa;
  transition: var(--trans);
}

footer {
  height: 30px;
  width: 100vw;
  position: fixed;
  background-color: #d0ebfa;

  bottom: 0px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
}

footer p{
  border-top: 3px dashed rgba(0, 0, 0, 0.473);
  border-radius: 30px;
  border-radius: 30px 30px 0px 0;
  background-color: white;
  color: #005485;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  width: 50%;
}
